.wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.board-top-container {
    background-color: white;
    margin-bottom: 8px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-top-option {
    margin: 4px;
    color: silver;
    border: 0;
    background-color: transparent;
}

.board-top-option:hover {
    color: black;
}

.board-top-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.board-top-form, input {
    width: 100%;
}

.board-top-count {
    background-color: #F7CEDC;
    border: solid 2px black;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.draggable-card {
    background-color: #FAE973;
    border: solid 1px #000000;
    padding: 1rem;
    width: calc(100% - 4px);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.draggable-card.Doing {
    background-color: aquamarine;
}

.draggable-card.Done {
    background-color: #F7CEDC;
}

.draggable-card.Idea {
    background-color: #B7B0FF;
}

.draggable-card-icon-container {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-bottom: 1rem;
}

.draggable-card-icon {

}

.draggable-card-input {
    display: none;
}

.draggable-card-input.active {
    display: inline;
}

.draggable-card-button {
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
}

.draggable-card-button:hover {
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: silver;
}
